# COLWRIT R4B The Japanese American Internment and its Legacy


---

### Professor Patricia Steenland

This notebook will explore data from the camps and provide context and techniques to analize the forced relocation of Japanese Americans during the 1940s.

*Estimated Time: 90 minutes*

---

### Topics Covered
- Short sentence topic 1
- Short sentence topic 2
- Short sentence topic 3

### Table of Contents

[The Data](#section data)<br>

[Context](#section context)<br>

1 - [Section 1](#section 1)<br>

2 - [Section 2](#section 2)<br>

3 - [Section 3](#section 3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 - [Subsection 1](#subsection 1)



**Dependencies:**

In [1]:
! pip install folium
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import geojson
import geopandas as gpd
pop_by_month = pd.read_csv("CampPopulationsByMonth.csv", error_bad_lines = False)
relocations_states = pd.read_csv("RelocationDestinations_States.csv", error_bad_lines = False)
pop_1940_to_1945 = pd.read_csv("JapaneseAmericanPopulation_1940_1945.csv", error_bad_lines = False)
relocations_cities = pd.read_csv("RelocationDestinations_Cities.csv", error_bad_lines = False)

Requirement already satisfied: folium in /srv/app/venv/lib/python3.6/site-packages
Requirement already satisfied: requests in /srv/app/venv/lib/python3.6/site-packages (from folium)
Requirement already satisfied: numpy in /srv/app/venv/lib/python3.6/site-packages (from folium)
Requirement already satisfied: branca>=0.3.0 in /srv/app/venv/lib/python3.6/site-packages (from folium)
Requirement already satisfied: jinja2>=2.9 in /srv/app/venv/lib/python3.6/site-packages (from folium)
Requirement already satisfied: certifi>=2017.4.17 in /srv/app/venv/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/app/venv/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/app/venv/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /srv/app/venv/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: six in /srv/app/venv/lib/python3.6/site-packages (from branca>=0.3.0->folium)
Requirement already satisfied: MarkupSafe>=0.23 in /srv/app/venv/lib/python3.6/site-packages (from jinja2>=2.9->folium)

---

## The Data <a id='data'></a>

In this notebook, you'll be working with a dataset that was manually digitized from tables in The Evacuated People: A Quantitative Description, a report published by the War Relocation Authority] in 1946. The tables required manual transcription because the results from automatic scraping contained too many errors. Thus, there may still be some human error. The datasets included contain the populations of each camp by month, the relocation destinations of those who were incarcerated, and the Japanese American population in America before and throughout the war. Take a look at the full dataset <a href = https://data.world/infinitecoop/japanese-internment-camps/> here</a>.

---

## Context <a id='data'></a>

In this course, you've been studying the consequences of Japanese American internment. Through this data and subsequent analysis, you'll be able to visualize the forced movement of Japanese Americans, from the west coast, to scattered internment camps, and eventually to cities throughout the country. 

---

## Section 1  <a id='section 1'></a>

Intro to section 1 here.

In [2]:
#Camp Populations by month 
#We can see when camps closed/opened based on where the zeros start
#Date of first of the month with the total populations over time
#Line plot could be useful
#Data collected at beginning of month?
pop_by_month = pd.read_csv("CampPopulationsByMonth.csv", error_bad_lines = False)
pop_by_month['Date']= pd.to_datetime(pop_by_month['Date']) 

pop_by_month["Topaz/Central Utah"] = pop_by_month["Topaz/Central Utah"].str.replace(',', '')
pop_by_month['Topaz/Central Utah'] = pop_by_month['Topaz/Central Utah'].astype(int)
pop_by_month["Poston/Colorado River"] = pop_by_month["Poston/Colorado River"].str.replace(',', '')
pop_by_month['Poston/Colorado River'] = pop_by_month['Poston/Colorado River'].astype(int)
pop_by_month["Gila River"] = pop_by_month["Gila River"].str.replace(',', '')
pop_by_month['Gila River'] = pop_by_month['Gila River'].astype(int)
pop_by_month["Granada"] = pop_by_month["Granada"].str.replace(',', '')
pop_by_month['Granada'] = pop_by_month['Granada'].astype(int)
pop_by_month["Heart Mountain"] = pop_by_month["Heart Mountain"].str.replace(',', '')
pop_by_month['Heart Mountain'] = pop_by_month['Heart Mountain'].astype(int)
pop_by_month["Jerome"] = pop_by_month["Jerome"].str.replace(',', '')
pop_by_month['Jerome'] = pop_by_month['Jerome'].astype(int)
pop_by_month["Manzanar"] = pop_by_month["Manzanar"].str.replace(',', '')
pop_by_month['Manzanar'] = pop_by_month['Manzanar'].astype(int)
pop_by_month["Minidoka"] = pop_by_month["Minidoka"].str.replace(',', '')
pop_by_month['Minidoka'] = pop_by_month['Minidoka'].astype(int)
pop_by_month["Rohwer"] = pop_by_month["Rohwer"].str.replace(',', '')
pop_by_month['Rohwer'] = pop_by_month['Rohwer'].astype(int)
pop_by_month["Tule Lake"] = pop_by_month["Tule Lake"].str.replace(',', '')
pop_by_month['Tule Lake'] = pop_by_month['Tule Lake'].astype(int)

pop_by_month

,Date,Total,Topaz/Central Utah,Poston/Colorado River,Gila River,Granada,Heart Mountain,Jerome,Manzanar,Minidoka,Rohwer,Tule Lake
0,1942-06-01,"17,393",0,7281,0,0,0,0,9666,0,0,446
1,1942-07-01,"27,633",0,8755,0,0,0,0,9840,0,0,9038
2,1942-08-01,"40,316",0,13262,2106,0,0,0,9928,0,0,15020
3,1942-09-01,"63,031",0,17818,9150,212,5758,0,10072,4840,0,15181
4,1942-10-01,"90,499",5806,17847,11555,7480,10813,0,10256,9200,2265,15277
5,1942-11-01,"109,192",8320,17877,13368,7654,11107,7039,10181,9846,8407,15393
6,1942-12-01,"110,160",8294,17965,13368,7651,11105,7925,10177,9849,8515,15311
7,1943-01-01,"110,240",8232,8039,13420,7656,11062,7932,10121,9861,8548,15369
8,1943-02-01,"110,353",8214,18025,13411,7622,11006,8354,10079,9814,8538,15274
9,1943-03-01,"110,181",8152,17984,13374,7619,10959,8587,9796,9924,8528,15219
10,1943-04-01,"109,648",8332,17941,13372,7476,10886,8526,9707,9772,8478,15124
11,1943-05-01,"107,693",8189,17741,13224,7222,10724,8350,9496,9401,8286,15015
12,1943-06-01,"105,300",8018,17406,12954,7016,10520,8182,9272,8989,8061,14828
13,1943-07-01,"103,282",7862,16995,12683,6931,10307,7972,9197,8752,7895,14630
14,1943-08-01,"101,937",7809,16671,12542,3876,10178,7808,9163,8556,7781,14484
15,1943-09-01,"99,927",7682,16279,12251,6764,10073,7649,9105,8325,7552,14185
16,1943-10-01,"98,529",7608,16013,12056,7494,10509,6899,9045,9530,7123,12183
17,1943-11-01,"97,539",7554,14470,10017,7368,10426,6787,8701,9419,6731,16012
18,1943-12-01,"96,963",7585,14372,9898,7393,10406,6726,8621,9492,6676,15671
19,1944-01-01,"96,576",7559,14295,9869,7355,10388,6700,8643,9461,6676,15630
20,1944-02-01,"95,576",7438,14109,9800,7176,10242,6632,8580,9374,6600,15625
21,1944-03-01,"94,462",7350,13876,9655,6983,10112,6537,6655,9288,6514,17492
22,1944-04-01,"92,923",7227,13453,9419,6786,9962,6529,6565,9027,6375,17580
23,1944-05-01,"90,960",7084,13241,9199,6685,9760,6467,6456,8856,6248,16964
24,1944-06-01,"89,119",6879,13021,8788,6424,9420,5601,6341,8514,5479,18652
25,1944-07-01,"87,383",6727,12725,10531,6816,9712,4,6232,8335,7623,18678
26,1944-08-01,"85,816",6621,12517,10291,6664,9433,4,6138,8160,7279,18709
27,1944-09-01,"84,046",6426,12152,9951,6490,9241,4,6057,8099,6900,18726
28,1944-10-01,"82,834",6280,12059,9651,6403,9035,3,5939,7972,6764,18728
29,1944-11-01,"82,046",6125,11881,9550,6371,8886,3,5836,7976,6700,18718
30,1944-12-01,"81,288",6026,11751,9534,6311,8669,3,5668,7867,6689,18770
31,1945-01-01,"80,878",5984,11710,9550,6255,8537,3,5588,7770,6747,18734
32,1945-02-01,"79,805",5883,11480,9432,6177,8445,2,5522,7574,6697,18593
33,1945-03-01,"77,774",5742,11251,9207,6035,8213,2,5435,7373,6563,17953
34,1945-04-01,"75,559",5589,10828,8988,5805,7997,0,5298,6851,6339,17864
35,1945-05-01,"72,806",5413,10421,8716,5411,7556,0,5030,6382,5991,17886
36,1945-06-01,"69,126",5165,9979,8319,4980,7084,0,4658,5615,5447,17879
37,1945-07-01,"63,857",4645,9386,7684,4256,6325,0,4248,4937,4910,17466
38,1945-08-01,"58,951",4176,8750,6765,3758,5714,0,3994,4330,4098,17366
39,1945-09-01,"50,462",3339,6828,5141,3155,4611,0,3552,3218,3332,17286
40,1945-10-01,"35,368",1899,2730,2760,1379,3312,0,2891,1482,2175,16740
41,1945-11-01,"21,398",0,1088,754,0,1156,0,1146,0,1804,15450
42,1945-12-01,"12,628",0,0,0,0,0,0,0,0,0,12628
43,1946-01-01,"7,303",0,0,0,0,0,0,0,0,0,7303
44,1946-02-01,"5,046",0,0,0,0,0,0,0,0,0,5046
45,1946-03-01,"2,808",0,0,0,0,0,0,0,0,0,2808

Ask students questions to get them thinking about the data themselves. Make sure it is clear that this text is a question they have to answer and give them a clear place to answer the question.

---

Suggested format:

<b>Question 1:</b> What kind of patterns do you see in this graph? 

<b>Answer: </b> YOUR ANSWER HERE

<b> Question 2</b>: Write the command to print "Hello world".

In [3]:
# a better graph showing how long after the war it took for them to be released versus how long it took for them to be incarcerated

---

## Section 2 <a id='section 2'></a>

After Executive Order 9066 was signed, the army was authorized to remove civilians from designated military exclusion zones spanning Washington, Oregon, California, and Arizona. Assembly centers were created to funnel Japanese Americans into internment camps. Through these maps, you can see how many people were forced from one location to another

In [4]:
assembly = pd.read_csv('BehindBarbedWire_StoryMap_AssemblyCentersMap_Data.csv', error_bad_lines = False)
assembly.dropna(subset=['Latitude', 'Longitude']).dropna(axis = 1)
#assembly.dtypes

In [ ]:
#need to make this a bubble folium map
m = folium.Map(location=[36.733300, -100.766700], zoom_start = 4)
tooltip = 'Click me!'
n = folium.Marker([38.566700, -121.483300], popup='<i>Mt. Hood Meadows</i>', tooltip='Sacramento(Walerga)').add_to(m)
n = folium.Marker([36.728333, -118.154444], popup='<i>Mt. Hood Meadows</i>', tooltip='Manzanar').add_to(m)
n = folium.Marker([36.733300, -119.766700], popup='<i>Mt. Hood Meadows</i>', tooltip='Fresno').add_to(m)
n = folium.Marker([34.383300, -112.233300], popup='<i>Mt. Hood Meadows</i>', tooltip='Mayer, AZ').add_to(m)
n = folium.Marker([39.050000, -121.550050], popup='<i>Mt. Hood Meadows</i>', tooltip='Marysville (Arboga)').add_to(m)
n = folium.Marker([37.300000, -120.466700], popup='<i>Mt. Hood Meadows</i>', tooltip='Merced').add_to(m)
n = folium.Marker([34.383300, -112.233300], popup='<i>Mt. Hood Meadows</i>', tooltip='Pinedale').add_to(m)
n = folium.Marker([34.050000, -117.750000], popup='<i>Mt. Hood Meadows</i>', tooltip='Pomona').add_to(m)
n = folium.Marker([45.516700, -122.666700], popup='<i>Mt. Hood Meadows</i>', tooltip='Portlan, OR').add_to(m)
n = folium.Marker([47.183300, -122.283300], popup='<i>Mt. Hood Meadows</i>', tooltip='Puyallup').add_to(m)
n = folium.Marker([36.666700, -121.650000], popup='<i>Mt. Hood Meadows</i>', tooltip='Salinas').add_to(m)
n = folium.Marker([34.133300, -118.033300], popup='<i>Mt. Hood Meadows</i>', tooltip='Santa Anita').add_to(m)
n = folium.Marker([37.950000, -121.283300], popup='<i>Mt. Hood Meadows</i>', tooltip='Stockton').add_to(m)
n = folium.Marker([37.616700, -122.400000], popup='<i>Mt. Hood Meadows</i>', tooltip='Tanforan').add_to(m)
n = folium.Marker([36.200000, -119.333300], popup='<i>Mt. Hood Meadows</i>', tooltip='Tulare').add_to(m)
n = folium.Marker([37.483300, -120.833300], popup='<i>Mt. Hood Meadows</i>', tooltip='Turlock').add_to(m)

m

Japanese Americans were transported from assembly centers to internment camps across the country

In [ ]:
pd.read_csv('BehindBarbedWire_StoryMap_InternmentCampLocationsMap_Data.csv', error_bad_lines = False)

In [ ]:
m = folium.Map(location=[36.733300, -100.766700], zoom_start = 4)
tooltip = 'Click me!'
n = folium.Marker([33.065083, -111.830528], popup='<i>Mt. Hood Meadows</i>', tooltip='Gila River Relocation Center').add_to(m)
n = folium.Marker([33.987500, -114.401111], popup='<i>Mt. Hood Meadows</i>', tooltip='Poston Relocation Center').add_to(m)
n = folium.Marker([33.411667, -91.461111], popup='<i>Mt. Hood Meadows</i>', tooltip='Jerome Relocation Center').add_to(m)
n = folium.Marker([33.766297, -91.280158], popup='<i>Mt. Hood Meadows</i>', tooltip='Rohwer Relocation Center').add_to(m)
n = folium.Marker([36.728333, -118.154444], popup='<i>Mt. Hood Meadows</i>', tooltip='Manzanar Relocation Center').add_to(m)
n = folium.Marker([41.889444, -121.374722], popup='<i>Mt. Hood Meadows</i>', tooltip='Tule Lake Relocation Center').add_to(m)
n = folium.Marker([38.049444, -102.328611], popup='<i>Mt. Hood Meadows</i>', tooltip='Granada Relocation Center').add_to(m)
n = folium.Marker([42.679000, -114.244000], popup='<i>Mt. Hood Meadows</i>', tooltip='Minidoka Relocation Center').add_to(m)
n = folium.Marker([39.418336, -112.708750], popup='<i>Mt. Hood Meadows</i>', tooltip='Topaz Relocation Center').add_to(m)
n = folium.Marker([44.671667, -108.946389], popup='<i>Mt. Hood Meadows</i>', tooltip='Heart Mountain Relocation Center').add_to(m)
m

## Section 3 <a id='section 3'></a>

The biggest impact, among many, of Japanese internment was the subsequent relocation of Japanese Americans across the nation. While they had originally been settled and successful on the west coast, the effects of their forced internment ruined their lives, forcing them to uproot themselves and start anew

In [5]:
#Use in conjuction with relocation Destinations to track movement
pd.read_csv("JapaneseAmericanPopulation_1940_1945_LL.csv", error_bad_lines = False).head()

In [ ]:
pd.read_csv("RelocationDestinations_Cities_LL.csv", error_bad_lines = False).head()

### Subsection 1 <a id='subsection 1'></a>

Intro to subsection 1 here.

In [6]:
# CODE

---

## Bibliography

Cite sources in this format, separated with bullet points:

<b>Format</b>: `Author` - `How source was used`. `URL`

Example:

- John Denero - Adapted NLP techniques. https://denero.org

First, we will learn about basic plotting with pandas and seaborn.

In [7]:
# Import pandas, a data science library, and matplotlib for plotting
import pandas as pd
import matplotlib.pyplot as plt

# Create a DataFrame, or a container of data, with numbers 1 - 3
numbers = pd.DataFrame([1, 2, 3])

# Plots the numbers DataFrame
plt.plot(numbers)
plt.title("Number Line") 
plt.xlabel("x-axis")
plt.ylabel("y-axis")
plt.show()

---
Notebook developed by: Alleanna Clark, Aishah Mahmud

Data Science Modules: http://data.berkeley.edu/education/modules